body {
    font-family: Arial, sans-serif;
    background: url('pure-nature-landscape-single-tree-in-green-field-free-photo.webp') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #ffa500;
    outline: none;
}

.login-btn {
    background-color: #ffa500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #ff8c00;
}

.options {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.options a {
    color: #ffa500;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

.register-link {
    font-weight: bold;
}
